Copyright &copy; 2015 TroyCMS

<ul class="f-menu">
    <li><a href="" data-ui-sref="pages.wall" data-ng-click="tcmsctrl.sidebarStat($event)">Home</a></li>
    <li><a href="" data-ui-sref="pages.league" data-ng-click="tcmsctrl.sidebarStat($event)">Leagues</a></li>
    <li><a href="" data-ui-sref="pages.team" data-ng-click="tcmsctrl.sidebarStat($event)">Teams</a></li>
    <li><a href="" data-ui-sref="pages.player" data-ng-click="tcmsctrl.sidebarStat($event)">Players</a></li>
</ul>
