﻿@model TroyCMS.DataAccess.Models.GetGagDTO
@{
    Layout = null;
    var gag = Model;
    var title = "";
    var description = "";
    var type = "article";
    var image = "";
    var url = ViewBag.AbsoluteUri;
    var video = "";
    if (gag != null)
    {
      title = gag.Title;
      description = gag.Description;
      if (gag.Images.Count > 0)
      {
        image = gag.Images.FirstOrDefault().Url;
      }
      else {
        image = gag.Videos.FirstOrDefault().Picture ?? string.Empty;
        video = gag.Videos.FirstOrDefault().Url;
      }
    }
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="troyCMS" data-ng-controller="troyCMSCtrl as tcmsctrl"><![endif]-->
    <![if IE 9 ]>
<html data-ng-app="troyCMS" data-ng-controller="troyCMSCtrl as tcmsctrl">
<![endif]>

<head>
  <base href='@Url.Content("~/")'>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @if (gag != null)
  {
      <meta property="og:title" content="@title">
      <meta property="og:type" content="@type">
      <meta property="og:image" content="@image">
      <meta property="og:image:type" content="image/@image.Split('.').Last()">
      <meta property="og:description" content="@description">
      <meta property="og:url" content="@url">
      <meta property="og:site_name" content="bongvl.vn">
      <title>@ViewBag.SiteTitle - @title</title>
  }
  else
  {
      <title>@ViewBag.SiteTitle</title>
  }
  <!-- Lazy CSS/JS -->
  <link id="app-level" rel='stylesheet' type='text/css'>
</head>

<body data-ng-class="{ 'sw-toggled': tcmsctrl.layoutType === '1', 'modal-open': tcmsctrl.sidebarToggle.left === true }">

  <data ui-view></data>

  <!-- Older IE warning message -->
  <!--[if lt IE 9]>
      <div class="ie-warning">
          <h1 class="c-white">Warning!!</h1>
          <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
          <div class="iew-container">
              <ul class="iew-download">
                  <li>
                      <a href="http://www.google.com/chrome/">
                          <img src="img/browsers/chrome.png" alt="">
                          <div>Chrome</div>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.mozilla.org/en-US/firefox/new/">
                          <img src="img/browsers/firefox.png" alt="">
                          <div>Firefox</div>
                      </a>
                  </li>
                  <li>
                      <a href="http://www.opera.com">
                          <img src="img/browsers/opera.png" alt="">
                          <div>Opera</div>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.apple.com/safari/">
                          <img src="img/browsers/safari.png" alt="">
                          <div>Safari</div>
                      </a>
                  </li>
                  <li>
                      <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                          <img src="img/browsers/ie.png" alt="">
                          <div>IE (New)</div>
                      </a>
                  </li>
              </ul>
          </div>
          <p>Sorry for the inconvenience!</p>
      </div>
  <![endif]-->
  <!-- Core -->
  @Scripts.Render("~/vendors/core")

  <!-- Light Gallery -->
  @Scripts.Render("~/vendors/lightgallery")

  <!-- Angular -->
  @Scripts.Render("~/vendors/angular")

  <!-- Angular Modules -->
  @Scripts.Render("~/vendors/angular/modules")

  <!-- Common Vendors -->
  @Scripts.Render("~/vendors/common")


  <!-- Placeholder for IE9 -->
  <!--[if IE 9 ]>
      <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
  <![endif]-->
  <!-- Using below vendors in order to avoid misloading on resolve -->
  @Scripts.Render("~/vendors/misloading")


  <!-- App level -->
  @Scripts.Render("~/app")

  <div id="fb-root"></div>
  <script>
    function asyncCss(link) {
      var cb = function () {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = link;
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    }

    var TroyCMSData = {};
    TroyCMSData.SiteName = '@ViewBag.SiteName';
    TroyCMSData.AbsoluteUri = '@ViewBag.AbsoluteUri';
    TroyCMSData.FacebookAppId = '@ViewBag.FacebookAppId';
  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-70349434-1', 'auto');
    ga('send', 'pageview');

  </script>

  @Styles.RenderFormat(@"<script type='text/javascript' async>asyncCss('{0}')</script>", "~/vendors/css")
</body>
</html>

